.location__top {
	display: flex;
	align-items: center;
	flex-direction: column;

	.location__title {
		font-size: 2.5rem;
		font-weight: 500;
	}
	.location__time {
		font-size: 1.25rem;
		font-weight: 500;
		color: var(--black);
		margin: 10px 0 15px 0;
	}
	.blue {
		color: var(--blue);
	}
}
.location__body {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.location__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 73%;
	gap: 20px;
}
