.item__link{
font-size: 1.25rem;
font-weight: 400;
color: var(--gray);
position: relative;
}

.item__link:hover{
    color: var(--black);
}
.item__link:active{
    color: var(--blue);
}

.item__link::after{
    content: "";
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 0%;
    height: 1px;
    background-color: var(--blue);
    color: var(--blue);
    left: 0%;
}

.item__link:active::after{
    width: 100%;
}