.characters-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.characters__title{
    font-size: 2.5rem;
    font-weight: 500;
}
.characters-body{
    display: flex;
    justify-content: space-between;
}
.characters__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 73%;
    gap: 20px;
}