.pagination__list {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;

	li {
		cursor: pointer;
		margin: 0 5px;
		padding: 5px 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
}
.previos-btn,
.next-btn {
	background: var(--blue);
	color: var(--light);
}
.previos-link,
.next-link {
	color: var(--light);
}
.disabled-btn {
	background: var(--blue);
	color: var(--light);
	opacity: 0.5;
}
.active-link {
	background: var(--blue);
	color: var(--light);
}
